*{ 
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-color:  hsl(0, 0%, 0%);
    text-align: center;
}
button {
    cursor: pointer;
}

input {
    cursor: pointer; 
}  

  .page-title {
    color:#ffffff;
    font-size: 2.5em;
    margin: 10px 3px;
  }

  .img-comp {
    width: 60vh;
  }
    
  .page-subtitle {
    font-size: 1.3em;
    color:#ffffff;
  }
  
  .form{
    margin: 15px;
  }
  
  input{
    width: 200px;
    height: 25px;
    margin-bottom: 20px;    
  }
  
  label{
    color:#fdfdfd;
    margin: 50 0px;
  }
  
  .form button{
    width: 200px;
    padding: 8px;
    border-radius: 10px;
    border-style: none;
    background-color:#eff6ea;
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(34, 100%, 50%);;
    box-shadow: 2px 2px 15px #000000;
  }

  h2{
    margin-top: 10px;
    font-weight: normal;
    color: #ffffff;
  }

  footer{
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
    color:hsl(34, 100%, 50%);
    opacity: 0.6;
    transition: opacity 300ms;
}
footer a{
    text-decoration: none;
    color: #f0f0f0;
}
footer:hover{
    opacity: 1;
}

  